<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.byui.budgetman">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_coin"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_coin"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".view.GetIncome" />
        <activity android:name=".view.CategoryView" android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".view.TransactionView" android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".view.RemoveCategoryView" android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".view.MainActivity" android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>